<% layout('layouts/boilerplate')%>
<h3>Create Entry</h3>
    <form action="/transactionSlips" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name"  class="form-control" name="campground[name]" required>
        </div>
        <div  class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="text"  class="form-control" id="amount" name="campground[amount]" required>
        </div>
        <div  class="mb-3">
            <label for="upi" class="form-label">Upi</label>
            <input type="text" class="form-control" id="upi" name="campground[upi]" required>
        </div>
        <!-- <div>
            <label for="ref">ref</label>
            <input type="text" id="ref" name="campground[ref]">
        </div> -->
        <button class="btn btn-primary">Add TransactionSlip</button>
    </form>
    <a href="/transactionSlips">All TransactionSlips</a>
